body{
    background: rgb(146, 146, 214);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center; /* ALINHA TEXTO AO MEIO */
}

section{
    background: white;
    border-radius: 10px; /*borda arredondada*/
    padding: 15px;
    width: 500px; /* largura */
    margin: auto; /* MEIO DA TELA */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.658); 
}

footer{
    color: white;
    text-align: center; /* ALINHA TEXTO AO MEIO */
    font-style: italic;
}